<div class="btn-group">
            <button type="button" class="btn text-white  dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bell fa-xl fw-bolder"></i>
            </button>
            <div class="dropdown-menu">
                <div class="py-2 px-3">
                    <h6 class="">
                        <span class="fw-bold">Unread Notifications </span>
                        <span> {{NoOfNotifications}}</span>
                    </h6>
                    <p *ngIf="NoOfNotifications ==0 " class="mb-0 fs-xs">Good job! Looks like you're all caught up.</p>
                    <a [routerLink]="['/Notification']" class="fs-xs">View All</a>
                </div>
            </div>
</div>