    <div class="row g-5 py-5">
    <div class=" col-lg-5 col-xl-4 col-xxl-3 ">
        <div class="shadow-lg">
             <div class=" bg-blue rounded-top px-2 py-3">
                 <p class="text-white mb-0 fs-6 ps-4  fw-semiBold">Benefits of being a member</p>
            </div>
             <div class="p-2">
                <ul class="fa-ul mb-0 py-2 pe-3">
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                         <span class="">Find something to watch on your subscribed streaming services</span>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                        <span class="">Log the movies and TV shows you have watched</span>     
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                       <span class="">Keep track of your favourite movies and TV shows and get recommendations from them</span>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                        <span class="">Build and maintain a personal watchlist</span>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                         <span class="">Build custom mixed lists (movies and TV)</span>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                        <span class="">Take part in movie and TV discussions</span>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                        <span class="pe-5 me-xxl-5">Contribute to, and improve the information in our database</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-7 col-xxl-8 ">
      <div>
            <h4 class="fw-bold fs-4">Sign up for an account</h4>
            <p class="">Signing up for an account is free and easy. Fill out the form below to get started. JavaScript is required to to continue.</p>
            <form action="">
                <div class="mb-3">
                    <label for="username" class="form-label fw-light">Username</label>
                    <input class="form-control form-control-sm rounded" type="text"  aria-label="Username" name="Username" id="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-light">Password (4 characters minimum)</label>
                    <input class="form-control form-control-sm rounded" type="password" aria-label="Password" name="Password" id="password">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label fw-light">Password Confirm</label>
                    <input class="form-control form-control-sm rounded" type="password"  aria-label="Password Confirm" name="confirmPassword" id="confirmPassword">
                </div>
                <div class="mb-3">
                    <label for="mail" class="form-label fw-light">Email</label>
                    <input class="form-control form-control-sm rounded" type="mail"  aria-label="Email" name="mail" id="mail">
                </div>
                <p class="">By clicking the "Register" button below, I certify that I have read and agree to the TMDB terms of use and privacy policy.</p>
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-gray me-4">Register</button>
                    <span class="text-blue">Cancal</span>
                </div>
            </form>
      </div>
    </div>
</div>
