    <div class="row g-5 py-5">
        <div class=" col-lg-5 col-xl-4 col-xxl-3 ">
            <div class="shadow-lg">
                <div class=" bg-blue rounded-top px-2 py-3">
                    <p class="text-white mb-0 fs-6 ps-4  fw-semiBold">Benefits of being a member</p>
                </div>
                <div class="p-2">
                    <ul class="fa-ul mb-0 py-2 pe-3">
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                            <span class="">Find something to watch on your subscribed streaming services</span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                            <span class="">Log the movies and TV shows you have watched</span>     
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                        <span class="">Keep track of your favourite movies and TV shows and get recommendations from them</span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                            <span class="">Build and maintain a personal watchlist</span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                            <span class="">Build custom mixed lists (movies and TV)</span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                            <span class="">Take part in movie and TV discussions</span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-check"></i></span>
                            <span class="pe-5 me-xxl-5">Contribute to, and improve the information in our database</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-7 col-xxl-8 ">
        <div>
                <h4 class="fw-bold fs-4">Sign up for an account</h4>
                <p class="">Signing up for an account is free and easy. Fill out the form below to get started. JavaScript is required to to continue.</p>
                <form  [formGroup]="RegisterForm" (ngSubmit)="SignUP(RegisterForm)">
                    <div class="mb-3">
                        <label for="username" class="form-label fw-light">Username</label>
                        <input [ngClass]="{'form-control form-control-sm rounded':true,'border-danger':RegisterForm.get('username')?.errors && RegisterForm.get('username')?.touched}" type="text"  aria-label="Username" formControlName="username" id="username">
                        <div class="text-danger  d-flex flex-column  mt-1 fs-xs" *ngIf="RegisterForm.get('username')?.errors && RegisterForm.get('username')?.touched">
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('username')?.getError('required')"><i class="fa-solid fa-xmark pe-1"></i><span>Username is required.</span></div>
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('username')?.getError('minlength')"><i class="fa-solid fa-xmark pe-1"></i><span>Minimum Length is 5.</span></div>
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('username')?.getError('maxlength')"><i class="fa-solid fa-xmark pe-1"></i><span>Maximum Length is 30.</span></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label fw-light">Password (8 characters minimum)</label>
                        <input [ngClass]="{'form-control form-control-sm rounded':true,'border-danger':RegisterForm.get('password')?.errors && RegisterForm.get('password')?.touched}" type="password" aria-label="Password" formControlName="password" id="password">
                         <div class="text-danger  d-flex flex-column mt-1 fs-xs" *ngIf="RegisterForm.get('password')?.errors && RegisterForm.get('password')?.touched">
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('password')?.getError('required')"><i class="fa-solid fa-xmark pe-1"></i><span>Passowrd is required.</span></div>
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('password')?.getError('pattern')"><i class="fa-solid fa-xmark pe-1"></i>
                            <span>
                                Password must be Minimum eight characters, at least one letter, one number and one special character.
                            </span></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label fw-light">Password Confirm</label>
                        <input [ngClass]="{'form-control form-control-sm rounded':true,'border-danger':RegisterForm.get('confirmPassword')?.errors && RegisterForm.get('confirmPassword')?.touched}" type="password"  aria-label="Password Confirm" formControlName="confirmPassword" id="confirmPassword">
                        <div class="text-danger  d-flex flex-column mt-1 fs-xs" *ngIf="RegisterForm.get('confirmPassword')?.errors && RegisterForm.get('confirmPassword')?.touched">
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('confirmPassword')?.getError('required')"><i class="fa-solid fa-xmark pe-1"></i><span>Confirm Passowrd is required.</span></div>
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('confirmPassword')?.getError('pattern')"><i class="fa-solid fa-xmark pe-1"></i>
                                <span>
                                    Password must be Minimum eight characters, at least one letter, one number and one special character.
                                </span>
                            </div>
                            <div class="d-flex align-items-center" *ngIf="RegisterForm.get('confirmPassword') != RegisterForm.get('password')"><i class="fa-solid fa-xmark pe-1"></i>
                                <span>
                                    Passwords must match.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label fw-light">Email</label>
                        <input [ngClass]="{'form-control form-control-sm rounded':true,'border-danger':RegisterForm.get('email')?.errors && RegisterForm.get('email')?.touched}" type="mail"  aria-label="Email" formControlName="email" id="mail">
                        <div class="text-danger  d-flex flex-column  mt-1 fs-xs" *ngIf="RegisterForm.get('email')?.errors && RegisterForm.get('email')?.touched">
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('email')?.getError('required')"><i class="fa-solid fa-xmark pe-1"></i><span>E-Mail is required.</span></div>
                           <div class="d-flex align-items-center" *ngIf="RegisterForm.get('email')?.getError('email')"><i class="fa-solid fa-xmark pe-1"></i><span>E-Mail is invalid.</span></div>
                        </div>
                    </div>
                    <p class="">By clicking the "Register" button below, I certify that I have read and agree to the TMDB terms of use and privacy policy.</p>
                    <div class="d-flex align-items-center">
                        <button type="submit" class="btn btn-gray me-4" [disabled]="RegisterForm.invalid">Register</button>
                        <span class="text-blue" (click)="CancalRegisteration()">Cancal</span>
                    </div>
                </form>
        </div>
        </div>
    </div>
