<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/Home']" >
        <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" width="100px"  alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current=" Movies page" [routerLink]="['/Movies']" routerLinkActive="router-link-active">Movies</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current=" TvShows page" [routerLink]="['/TvShows']" routerLinkActive="router-link-active">Tv Shows</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " aria-current=" People page" [routerLink]="['/People']" routerLinkActive="router-link-active">People</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/Discussions']" routerLinkActive="router-link-active">Discussions</a></li>
            <li><a class="dropdown-item" [routerLink]="['/LeaderBoard']" routerLinkActive="router-link-active"> LeaderBoard</a></li>
            <li><a class="dropdown-item" [routerLink]="['/Support']" routerLinkActive="router-link-active"> Support</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <div id="addNewMovieOrTVSHOW">
             <div class="btn-group">
            <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-plus fa-lg fw-bolder"></i>
            </button>
            <div class="dropdown-menu">
                <ul  *ngIf="logged ; else PleaseLoginComp">
                    <li><a class="dropdown-item" href="#">Add New Movie</a></li>
                    <li><a class="dropdown-item" href="#">Add New TV Show</a></li>
                </ul>
                <ng-template #PleaseLoginComp class="dropdown-menu">
                    <p>
                        Can't find a movie or TV show? Login to create it.
                    </p>
                </ng-template>
            </div>
        
         </div>
        </div>
      </div>
    </div>
  </div>
</nav>