    <div class="btn-group">
            <button type="button" class="btn text-white  dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-plus fa-xl fw-bolder"></i>
            </button>
            <div class="dropdown-menu">
                <ul  *ngIf="loggedUser ; else PleaseLoginComp" class="list-unstyled mb-0 fs-sm">
                    <li><a class="dropdown-item" [routerLink]="['/AddNewMovie']">Add New Movie</a></li>
                    <li><a class="dropdown-item"  [routerLink]="['/AddNewShow']">Add New TV Show</a></li>
                </ul>
                <ng-template #PleaseLoginComp >
                    <p class="mb-0">
                        Can't find a movie or TV show? Login to create it.
                    </p>
                </ng-template>
            </div>
    </div>
