body {
  font-family: 'Source Sans Pro', "Roboto", sans-serif
}

.parent-container{
     width:90%;
   }
   .dropdown-toggle::after {
      display: none; 
    }

     .btn.show{
        border:none;
     }


.dropdown-menu[data-bs-popper]{
    left:-100%;
}