:root{
  --main-color:#7F5CE7;
  --main-gray:#7F7F7F;
  --border-color:#DEDEDF;
  --main-blue:#06B4E4;
  --bg-dark:#032541;
}
html{
    font-size:16px;
}
body {
  font-family: 'Source Sans Pro', "Roboto", sans-serif
}
.parent-container{
     width:90%;
   }
   
   .dropdown-toggle::after {
      display: none; 
    }

     .btn.show{
        border:none;
     }


.dropdown-menu[data-bs-popper]{
  left:-100%;
}
.dropdown-menu *{
  text-wrap: nowrap;
  /* width:  ; */
    /* --bs-dropdown-min-width: ; */
  }

   .router-link-active{
    color:var(--main-blue) !important;
 }

 .text-gray{
  color:var(--main-gray);
 }
 .text-blue{
  color:var(--main-blue) ;
 }
 .bg-blue{
  background-color:var(--main-blue);
 }
 .text-white{
  color:#fff;
 }
 .bg-siteDark{
  background-color: var(--bg-dark);
 }
 .btn:hover{
  background-color: var(--main-blue);
  color:#fff;
  border-color: var(--main-blue) ;
 }
 .fs-xxs{
    font-size: .6rem;
  }
  .fs-xs{
    font-size: .7rem;
  }
  .fs-sm{
        font-size: .8rem;
  }