html{
    font-size:16px;
}
body {
  font-family: 'Source Sans Pro', "Roboto", sans-serif
}

.parent-container{
     width:90%;
   }
   
   .dropdown-toggle::after {
      display: none; 
    }

     .btn.show{
        border:none;
     }


.dropdown-menu[data-bs-popper]{
  left:-100%;
}
.dropdown-menu *{
  text-wrap: nowrap;
  /* width:  ; */
    /* --bs-dropdown-min-width: ; */
  }
 
  .fs-xs{
    font-size: .7rem;
  }
  .fs-sm{
        font-size: .8rem;
  }